.footer {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0em;
  text-align: left;
  margin: auto 0 20px;
  color: white;
}

.footer__social {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.footer__social-icon {
  max-width: 16px;
  margin-right: 16px;
}

.footer__list-item {
  list-style-type: none;
}

.footer__social-link:hover {
  color: #c1c1c1;
}

@media screen and (max-width: 767px) {
  .footer {
    margin: 10px 0 10px;
    font-size: small;
  }
}
