.header {
  display: flex;
  font-family: Roboto;
  font-size: 20x;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0em;
  justify-content: space-between;
}

.header__logo {
  margin-top: 20px;
  max-width: 173px;
}

.header__container {
  text-align: end;
}

.header__info {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 767px) {
  .header {
    width: 320px;
    margin: auto;
    display: flex;
    justify-content: center;
    width: 320px;
  }
}
