.nav {
  font-family: Roboto;
  font-size: 25px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0em;
  display: flex;
  justify-content: flex-end;
  background-color: white;
  color: black;
}

.nav__container {
  display: flex;
  gap: 20px;
  text-align: right;
  margin-top: auto;
}

.nav__link {
  display: flex;
  list-style-type: none;
}
